*,
*::before,
*::after {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: pink;
}
/* Landing Page */

/* Product Page */
.card-body{
    width: 250px;
    height: fit-content;
  }
  .card{
    height: fit-content;
    width: 280px;
    padding: 20px 10px;
    margin-top: 15px;
    box-shadow: 0 0 10px 0 #000;
    background-color: rgb(245, 203, 210);
  }
  #product h2{
    font-weight: 400;
    font-size: 60px;
    padding-bottom: 30px;
  }
  #product{
    margin-top: 120px;
    background-color: pink;
    height: 135vh;
  }
  .form-control{
    width: 300px;
  }
  .col{
    display: flex;
    align-items: center;
  }
  #addCart{
    background-color: rgb(243, 168, 181);
    color: #000;
  }
  .cart{
    background-color: rgb(243, 168, 181);
    color: #000;
  }
  .sort{
    background-color: rgb(243, 168, 181);
    color: #000;
  }

  /* Admin Page */
#admin{
    background-color: pink;
}
#admin h2{
    font-weight: 400;
    font-size: 60px;
    padding-bottom: 30px;
}
.addNew{
    background-color: rgb(243, 168, 181);
    color: #000;
}
.table-responsive {
    padding: 0 20px; 
}

.table-responsive table {
    margin: 0 auto; 
    width: 80%; 
}

.table-responsive td, .table-responsive th {
    padding: 10px;
}

.table-bordered {
    border: 1px solid #ddd;
}

.table-bordered th {
    background-color: #f2f2f2;
    text-align: left;
}

/* .table-bordered tr:nth-child(even) {
    background-color: #f9f9f9;
} */

.table-bordered tr:hover {
    background-color: #ddd;
}

/* Checkout Page */
#checkout{
    background-color: pink;
    height: 100vh;
}
#checkout h2{
    font-weight: 400;
    font-size: 60px;
    padding-bottom: 30px;
}

/* About Page */
#aboutPage {
    position: relative;
   height: 100vh;
}
 #aboutPage {
    content: "";
    background-image: url('https://nasheetajacobs1999.github.io/allimages/images/princesses.jpeg') ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-color: rgb(254, 69, 195);
    background-position: bottom;
    border-image: fill 0 linear-gradient( #d836a26c,rgb(0, 0, 0));
    &>*{
        color: #f1f1f1;
    }
  
}
 #aboutPage .about-p, #aboutPage h2 {
    position: relative;
    z-index: 2; 
    font-weight: bolder;
    text-align: center;
    padding-top: 2rem;
    margin-top:4rem
}
.about-main{

    text-align: center;
}

.navbar-brand{
    width: 60px;
}