*,
*::before,
*::after {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
}
.nav-link{
    color: #000;
}
.nav-link:hover{
    
    color: #f1f1f1;
}
/* Landing Page */
.container-fluid1 {
    min-height: 89.8vh;
    display: grid;
    place-items: center;
    background-image: url(https://nasheetajacobs1999.github.io/allimages/images/bgHome.png);
    background-size: cover;
    background-position: center;
}

.HomeHeader {
    margin-top: 70px;
    text-align: center;
    font-family: 'Walt Disney Font', sans-serif;
    color: black;
    font-size: 3em;
    padding: 10px;
    margin-bottom: 10px;
}

/* Product Page */
.card-body{
    width: 250px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card{
    height: fit-content;
    width: 270px;
    padding: 20px 10px;
    margin-top: 15px;
    box-shadow: 0 0 10px 0 #000;
    background-color: rgb(243, 168, 181);
  }
  #product h2{
    font-weight: 400;
    font-size: 60px;
    padding-bottom: 30px;
  }
  #product{
    margin-top: 120px;
    background-color: #fff;
    height: 135vh;
  }
  .form-control{
    width: 300px;
  }
  .col{
    display: flex;
    align-items: center;
  }
  #addCart{
    background-color: #d27cd1;
    color: #000;
  }
  .cart{
    background-color: #d27cd1;
    color: #000;
  }
  .sort{
    background-color: #d27cd1;
    color: #000;
  }

  /* Admin Page */
#admin{
    background-color: #fff;
    
}
#admin h2{
    font-weight: 400;
    font-size: 60px;
    padding-bottom: 30px;
}
.addNew{
    background-color: #d27cd1;
    color: #000;
}
.table-responsive {
    padding: 0 20px; 
}

.table-responsive table {
    margin: 0 auto; 
    width: 80%; 
}

.table-responsive td, .table-responsive th {
    padding: 10px;
    text-align: center;
    color: #000;
}

.table-bordered {
    border: 1px solid #ddd;
}

.table-bordered th {
    background-color: #f2f2f2;
    text-align: left;
}

.table-bordered tr:hover {
    background-color: #ddd;
}

.edit{
    background-color: #d27cd1;
}
.edit:hover{
    background-color: pink;
}

/* Checkout Page */
#checkout{
    background-color: #fff;
    height: 100vh;
}
#checkout h2{
    font-weight: 400;
    font-size: 60px;
    padding-bottom: 30px;
}
#clear{
    background-color: #d27cd1;
}
#pay{
    background-color: #d27cd1;
}

/* About Page */
#aboutPage {
    position: relative;
    height: 100vh;
}
 #aboutPage {
    content: "";
    background-image: url('https://nasheetajacobs1999.github.io/allimages/images/princesses.jpeg') ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-color: rgb(254, 69, 195);
    background-position: bottom;
}
 #aboutPage .about-p, #aboutPage h2 {
    position: relative;
    z-index: 2; 
    font-weight: bolder;
    text-align: center;
    padding-top: 2rem;
    margin-top:4rem
}
.about-main{

    text-align: center;
}

.navbar-brand{
    width: 60px;
}
.buttons{
    display: flex;
    gap: 10px;
}
.fa-solid{
    color: #000;
}

/* Contact Page */
.container-fluid4{
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contact {
    background-color: rgb(243, 168, 181);
    color: black;
    width: 840px;
    align-items: center;
}
.contact .heading-text {
    background-color: #e8a4e7;
}

.submit,
.reset {
  color: white;
  border: 2px solid white;
  margin-left: 5px;
  margin-right: 5px;
  --bg: #000;
  transition: 0.2s;
}
.form-control{
    width:800px ;
}

.submit:hover,
.reset:hover {
  transform: translate(-0.25rem, -0.25rem);
  box-shadow: 0.25rem 0.25rem var(--bg);
  background: #e8a4e7!important;
  color: white !important;
  border: 2px solid white;
}
#addCart:hover, #clear:hover, #pay:hover {
    background-color: pink;
}
.table-responsive tr {
    color: #fff;
}

.table-responsive tr:hover {
    color: #000;
}

#titles{
    color: #000;
}
footer{
    color: #fff;
    background-color: #693668;
}
.view{
    background-color: red ;
}

  .navbar-dark {
    background-color: #693668 !important;
  }

  .nav-link:hover {
    color: #d27cd1 !important;
    transition: color 0.2s ease-in-out;
  }